<html >

<body>
    <h1>Movie Page...</h1><br/>
    ID: <%=movie.id%><br/>
    Name: <%=movie.name%> <br/>
    Genres: <%=movie.genres%><br/>
    Language: <%=movie.language%><br/>
    Picture: <img src="<%=movie.url%>"><br/><br/>

 <button><a href="/menu">Back to Menu</a></button>
 <button><a href="/searchMovie">Back</a></button><br/><br/>

</body>
</html>

